.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 2fr auto auto;
  gap: 0px 1.25rem;
  grid-auto-flow: row;
  grid-template-areas:
    "f f f f f f f f"
    "s s s s s s s s"
    "sm sm sm sm sm sm sm sm"
    "c1 c1 c1 c1 c1 c1 c1 c1"
    "c2 c2 c2 c2 c2 c2 c2 c2"
    "c3 c3 c3 c3 c3 c3 c3 c3"
    "c4 c4 c4 c4 c4 c4 c4 c4"
    "l l l l l l l l";
}
.f {
  grid-area: f;
}
.s {
  grid-area: s;
}
.sm {
  grid-area: sm;
}

.c1 {
  grid-area: c1;
}
.c2 {
  grid-area: c2;
}
.c3 {
  grid-area: c3;
}
.c4 {
  grid-area: c4;
}

.l {
  grid-area: l;
}

@media (min-width: 768px) {
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 2fr auto auto;
    gap: 0px 1.25rem;
    grid-auto-flow: row;
    grid-template-areas:
      "f f f f f f f f"
      "s s s s sm sm sm sm"
      "c1 c1 c1 c1 c2 c2 c2 c2"
      "c3 c3 c3 c3 c4 c4 c4 c4"
      "l l l l l l l l";
  }
}
@media (min-width: 1024px) {
  .grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 2fr auto auto;
    gap: 0px 1.25rem;
    grid-auto-flow: row;
    grid-template-areas:
      "f f f f f f f f"
      "s s s s sm sm sm sm"
      "c1 c1 c2 c2 c3 c3 c4 c4"
      "l l l l l l l l";
  }
}
